
@using Microsoft.AspNet.Identity

<br />
<form action="/Azure/SearchListByTitle" method="get">
    <input type="search" placeholder="Search by Title" name="title" />
    <input type="submit" />
</form>
<br />

<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Genre</th>
        <th>Runtime</th>
        <th>Year</th>
        <th>My Rating</th>
        <th>MM Rating</th>
        <th>Find this Movie</th>
        <th>Add Rating</th>
        <th>Delete from My List</th>

    </tr>

    @foreach (var m in ViewBag.MovieList)
    {
        <tr>
            <td><img src="https://image.tmdb.org/t/p/w500/@m.poster_path" height="165" width="110" /></td>
            <td>@m.title</td>
            <td>@m.with_genres</td>
            <td>@m.runtime</td>
            <td>@m.primary_release_year</td>
            <td>@m.rating</td>
            <td>@m.mmrating</td>
            <td>
                <a href="http://www.imdb.com/title/@m.imdb_id/?ref_=fn_al_tt_1" target="_blank"
>
                    <img src="~/images/IMDb_icon.png" height="40" width="64" />
                    
                </a>
            </td>
            <td><a href="/Azure/UpdateMovie?title=@m.title">Rate</a></td>
            <td><a href="/Azure/DeleteFromMovieList?title=@m.title" onclick="return ConfirmDelete()">Delete</a></td>
        </tr>
    }
</table>

<script>
    function ConfirmDelete() {
        var Delete = confirm("Are you sure you want to delete this movie from your list?");
        if (Delete == true) {
            return true;
        } else {
            return false;
        }
    }
</script>