<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta property="og:url" content="http://localhost:61179/" />*@
    <link rel="icon" href="~/images/favicon.ico" type="image">
    <title>@ViewBag.Title MovieMatch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>

<body>

    @*FB LIKE/SHARE BUTTON SCRIPT*@
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1781212745514087&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    @* NAV BAR *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MovieMatch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li><a href="/TMDB/SearchMovies">Search Movies</a></li>
                    <li><a href="/Azure/GetMoviesByUser?Id=@User.Identity.GetUserId()">My Movie List</a></li>
                    <li><a href="/Home/Recommendation?Id=@User.Identity.GetUserId()">Recommendations</a></li>
                    <li><a href="/Home/Mood?Id=@User.Identity.GetUserId()">Movie By Mood</a></li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    @* FB SOCIAL SHARES *@
    <br />
    <div class="fb-like" data-href="http://localhost:61179/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true" style="float:right"></div>

    @* FOOTER *@
    <div class="container body-content">
        @RenderBody()
        
        <footer style="position:fixed; bottom:0">

            <p>&copy; @DateTime.Now.Year - Movie Match Inc.   ~   <a href="/Home/PrivacyPolicy">Privacy Policy</a></p>

        </footer>
    </div>


    @* MISC SCRIPTS *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
